body {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    justify-content: center;
    width: calc(100% - 10px);
}

.header {
    max-height: 25vh;
    max-width: 100%;
}

.users {
    display: flex;
    gap: 50px;
}

.users a {
    font-size: 20px;
    text-decoration: none;
}